<header class='header'>
  {{> header}} 
</header>

<main class="main">
  {{#with messages}}
    <div class="masseges">
      <h1 class="masseges_title">{{title}}</h1>
      {{#each list}}
        <div class="masseges_list">
          <strong class="masseges_list_name">{{name}}</strong>
          <p class="masseges_list_text">{{message}}</p>
          <span class="masseges_list_day">{{day}}</span>
        </div>
      {{/each}}
      <a href="#" class="masseges_link">All masseges</a>
    </div>
  {{/with}}
  {{#with form}}
    <form class="form">
      <h2 class="form_title">{{title}}</h2>
        <div class="form_inputs_list">
          {{#each inputs}}
            <input type={{type}} id="form-input-{{id}}" class="form_input" placeholder="{{placeholder}}" name="{{name}}">
          {{/each}}
        </div>
        <div class="form_checkbox">
          {{#with checkbox}}
            <input type="checkbox" name="{{name}}" id="{{name}}">
            <label for="{{checkbox}}">{{label}}</label>
          {{/with}}
        </div>
      <button type="submit" class="form_button">{{button}}</button>
      <p class="form_info">{{info}}</p>
    </form>
  {{/with}} 
</main>

<div class="advantages">
  {{#each advantages}}
    <div>
      <strong>{{title}}</strong>
      <p>{{text}}</p>
    </div>
  {{/each}}
</div>



<footer class="footer">
 {{> footer}}
</footer>
  
  